<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link" >
    <visual>
      <geometry>
        <!-- <cylinder length="0.6" radius="0.2"/> -->
        <box size="0.1 0.1 0.5"/>
      </geometry>
    </visual>
  </link>
  <link name="my_frame" >
    <visual>
      <geometry>
        <!-- <cylinder length="0.6" radius="0.2"/> -->
        <box size="1.0 1.0 0.5"/>
      </geometry>
    </visual>
  </link>

  
  <joint name="base_to_right_leg" type="fixed">
    <parent link="my_frame"/>
    <child link="base_link"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>